.idlogo{
    width: 100px;
    }

.points{
    text-transform: uppercase;
    font-size: 15px;
}
.mylabel{
    margin-left: 30px;
}
.card{
    margin-top: 10px;
}
.menu:hover{
    background: #e1e1e1;
}
.card-content-md {
    padding: 0;
    font-size: 1.4rem;
    line-height: 1.5;
}
.col{
   padding:11px 10px;

}